$color1:#F5EDED;
$color2:#D72323;
$color3:#363636;
$color4:black;

$heithImg: 65vh;

$smarmini:"(max-width: 280px)";
$smarphone:"(min-width:280px) and (max-width: 500px)";
$tablet:"(min-width:500px) and (max-width:728px)";
$desktop:"(min-width: 1024px)";


@mixin caja-flex ($flex,$direction,$principal, $cruzado, $wrap){
    display: $flex;
    flex-direction: $direction;
    justify-content: $principal;
    align-items: $cruzado;
    flex-wrap: $wrap;
}