@import 'global';

.home{
    @include caja-flex(flex, column, center, center, nowrap);
}

.tituloranking{
    justify-content: center;
    color: white;
    text-shadow: 2px 1px 5px black;
    @media #{$smarphone}{
        font-size: 2.5ex;
        text-shadow: 2px 1px 3px black;
    }
}