@import 'global';

.movie-detail{
    @include caja-flex (flex,row,center,center,nowrap);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    border-left: 20px dotted $color2;
    border-right: 20px dotted $color2;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    @media #{$smarphone}{
        width: 70%
    }
   
    &_img{
        height: $heithImg;
        border-right:3px solid black;
        @media #{$smarphone}{
            width: 50%
        }
    }

    &_cuerpo{
        @include caja-flex(flex,column,center,center,nowrap);
        background-color:rgba(0, 0, 0, 0.747);
        height:$heithImg;
        color: $color1;
        @media #{$smarphone}{
            font-size: 14px;
        }

        &_I{
            @include caja-flex(flex,row,space-around,center,nowrap);
            font-size: 14px;
        }
    }

    
}

.movie-det{
    @include caja-flex(flex,columns, center, center, nowrap);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    max-width: 550px;
    min-height: 220px;
    border: 10px solid $color2;
    color: $color1;
    line-height: 180%;
  
}
.h2{
    margin:2px;
     font-size: 20px;

    @media #{$smarphone}{
            font-size: 14px;;
    }
}